@tailwind base;

@layer base {
    body { @apply bg-lif-gray font-body text-lif-main subpixel-antialiased; }
    header { @apply flex justify-between; }
    a { @apply font-bold cursor-pointer no-underline text-lif-blue; }
    * { @apply leading-normal; }

    h1 {
    @apply text-5xl font-bold;
    }

    h2 {
    @apply text-3xl font-semibold;
    }

    h3 {
    @apply text-2xl font-semibold;
    }

    h4 {
    @apply text-xl font-semibold;
    }

    h5 {
    @apply text-lg font-medium;
    }

    h6 {
    @apply text-base font-medium;
    }

    p {
    @apply my-3;
    }

    hr {
    @apply my-6 border-t;
    }

    dl, ol, ul {
    @apply my-4 pl-3 list-inside;
    }

    dl {
        dt {
        @apply font-semibold;
        }

        dd {
        @apply ml-6;
        }
    }

    ol {
    @apply list-decimal;
    }

    ul {
    @apply list-disc;
    }

    table {
    @apply table border-separate border-gray-200 align-middle text-left bg-gray-200 rounded;

        caption {
        @apply p-3;
        }

        thead tr th {
        @apply py-2 px-4;
        }

        tbody tr td {
        @apply py-2 px-4;
        }

        tfoot tr th {
        @apply py-2 px-4;
        }
    }

    input, textarea {
    @apply block px-3 py-2 border rounded text-sm;
    }

    input:focus, textarea:focus, button:focus {
    @apply outline-none;
    }

    label {
    @apply block mb-2 text-sm font-semibold;
    }

    input[type="submit"], input[type="button"], input[type="reset"] {
    @apply inline-block px-4 py-2 bg-gray-200 font-semibold;
    }

    figure {
    @apply inline-block;

        img {
        @apply block w-full;
        }

        figcaption {
        @apply block p-3 text-center text-sm;
        }
    }
}


.rtl { direction: 'rtl'; }
.lif-blue-bg {
    background: radial-gradient(ellipse at bottom right, #260133, #1f2348);
}
.lif-hexagon-bg {
    background-image: url('/img/hexagon-ribbon-white-desktop.svg');
    background-size: auto 544px;
    background-position: center 0;
    padding-bottom: 60px;
}

.lif-input {
  color: black;
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lif-textarea {
  color: black;
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact_us_form {
  width: 100%;
  max-width: 500px;
}

.video_image {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 100001;
}

.video-thumbnail:before {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\f01d";
  font-family: FontAwesome;
  font-size: 75px;
  color: #fff;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
  color: #ddd;
}

@tailwind components;
@tailwind utilities;
